@keyframes baner {
  0% {
    transform: translateX(50rem);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes topfade {
  0% {
    transform: translatey(-20rem);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes bottomfade {
  0% {
    transform: translatey(20rem);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* i,
*::after i,
*::before i {
  color: white;
  font-size: 3rem;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #e7e7e7;
  background-color: #a70000;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.808);
}

.header {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/header-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.header__logo {
  width: 20rem;
}
.header .nav__list {
  display: flex;
  list-style: none;
}
.header .nav__item {
  margin-right: 4rem;
}
.header .nav__link {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #e7e7e7;
  transition: all 0.3s;
}
.header .nav__link::after {
  content: "";
  position: absolute;
  background-color: #a70000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}
.header .nav__link:hover:after {
  width: 100%;
}
.header .search {
  display: flex;
  align-items: center;
}
.header .search__input {
  padding: 1rem;
  min-width: 30rem;
  border: none;
  border-radius: 0.5rem;
}
.header .search__input:focus {
  outline: none;
}
.header .search__btn {
  background-color: white;
  border: none;
  transform: translateX(-3rem);
  cursor: pointer;
}
.header .search__icon {
  width: 1.7rem;
  height: 1.7rem;
}
.header .signin:hover {
  background-color: #740000;
}
.header .signin:focus {
  outline: none;
}
.header .greating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  padding: 0 6rem;
}
.header .greating__message {
  margin-right: 4rem;
  width: 80rem;
}
.header .greating__title {
  margin-bottom: 1rem;
  font-size: 7rem;
  font-weight: 300;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  text-transform: capitalize;
  color: #e7e7e7;
  animation: topfade;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.header .greating__paragraph {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.8;
  color: #e7e7e7;
  animation: bottomfade;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.header .greating__btn {
  animation: bottomfade;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
.header .greating__btn:hover {
  background-color: #740000;
}
.header .greating__btn:focus {
  outline: none;
}
.header .greating__img {
  width: 50%;
  filter: brightness(90%);
  animation-name: baner;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

.nav-icon {
  font-size: 3rem;
  color: white;
  display: none;
}

.mobile-menu {
  padding: 4rem 2rem;
  background-image: linear-gradient(to top right, #a70000, black);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 50%;
  height: 100vh;
  transform: translate(100%, 0%);
  transition: all 0.7s;
}
.mobile-menu__list {
  list-style: none;
}
.mobile-menu__link {
  position: relative;
  color: #e7e7e7;
  font-size: 2.8rem;
  text-decoration: none;
  text-transform: capitalize;
}
.mobile-menu__link::after {
  content: "";
  position: absolute;
  background-color: #e7e7e7;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}
.mobile-menu__link:hover:after {
  width: 100%;
}

.footer {
  padding: 2rem;
  background-color: #222222;
  color: white;
  position: relative;
  z-index: 500;
}
.footer__box {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.footer__box::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #9b9b9b;
  position: absolute;
  bottom: 12%;
  left: 0;
  z-index: 600;
}
.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.footer__logo {
  width: 20%;
  align-self: center;
}
.footer__lists {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer__list {
  list-style: none;
}
.footer__title {
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
.footer__item {
  line-height: 1.8;
}
.footer__link {
  font-size: 1.6rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #e7e7e7;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.footer__rejester {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 2rem;
}
.footer__label {
  font-size: 2.7rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 0.6em;
}
.footer__input {
  padding: 1.2rem 1rem;
  min-width: 30rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: none;
}
.footer__input:focus {
  outline: none;
}
.footer__input::placeholder {
  color: lightgray;
  font-size: 1.5rem;
}
.footer__btn {
  padding: 1rem 3rem;
  font-size: 1.8rem;
}
.footer__btn:hover {
  background-color: #740000;
}
.footer__btn:focus {
  outline: none;
}
.footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copy h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 4rem;
}

@media screen and (max-width: 1600px) {
  .header__logo {
    margin-right: auto;
  }
  .header .nav {
    display: none;
  }
  .header .signin {
    margin-left: 3rem;
    margin-right: 7rem;
  }
  .header .nav-icon {
    display: inline-block;
  }
  .header .greating {
    margin-top: 12rem;
  }
}
@media screen and (max-width: 1320px) {
  .header .greating__title {
    font-size: 5rem;
  }
  .header .greating__paragraph {
    font-size: 1.4rem;
  }
  .header .greating__btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1150px) {
  .footer__box {
    flex-direction: column;
  }
  .footer__box::after {
    bottom: 8%;
  }
  .footer__form {
    margin-bottom: 4rem;
  }
  .footer__content {
    margin-bottom: 4rem;
  }
  .footer__input {
    width: 50rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 1030px) {
  .header .greating__title {
    font-size: 4.5rem;
  }
  .header .greating__paragraph {
    font-size: 1.4rem;
  }
  .header .greating__btn {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 950px) {
  .header .greating {
    margin-top: 15rem;
  }
  .header .greating__title {
    font-size: 4rem;
  }
  .header .greating__paragraph {
    font-size: 1.2rem;
  }
  .header .greating__btn {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .header .search__input {
    display: none;
  }
  .header .search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .header .greating {
    flex-direction: column-reverse;
    margin-top: 8rem;
  }
  .header .greating__message {
    margin: auto;
    width: 50rem;
  }
  .header .greating__paragraph {
    font-size: 1.4rem;
  }
  .header .greating__img {
    width: 70%;
    margin-bottom: 4rem;
  }

  .footer__logo {
    width: 30%;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__item {
    margin-right: 3rem;
  }

  .project {
    flex-direction: column;
  }
  .project__img {
    margin-bottom: 4rem;
  }

  .project--2 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 700px) {
  .service-box {
    margin: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .header .signin {
    margin: 0 2rem;
  }
  .header .greating__message {
    width: 40rem;
  }
  .header .greating__title {
    font-size: 3rem;
  }
  .header .greating__paragraph {
    font-size: 1.2rem;
  }
  .header .greating__img {
    width: 80%;
  }

  .footer__logo {
    width: 40%;
    margin-bottom: 3rem;
  }
  .footer__lists {
    flex-direction: column;
    transform: translateX(5rem);
  }
  .footer__list {
    margin-bottom: 3rem;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__item {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    width: 15rem;
  }
  .header .search__btn {
    display: none;
  }
  .header .greating__img {
    margin-bottom: 8rem;
  }

  .our-services {
    flex-direction: column;
  }

  .footer__box::after {
    bottom: 5%;
  }
  .footer__input {
    width: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    width: 12rem;
  }
  .header .signin {
    font-size: 1.2rem;
  }
  .header .greating {
    margin-top: 13rem;
  }
  .header .greating__message {
    max-width: 30rem;
  }
  .header .greating__img {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .header__logo {
    width: 8rem;
  }
  .header .signin {
    margin-left: 0;
  }
  .header .greating__paragraph {
    width: 25rem;
  }

  .about {
    padding: 6rem 4rem;
  }
  .about__title {
    font-size: 1rem;
    margin-bottom: 4rem;
  }
  .about__paragraph {
    font-size: 1.8rem;
    margin: 4rem 0;
  }

  .categories__box {
    margin-bottom: 4rem;
  }
  .categories__img {
    width: 20rem;
    height: 15rem;
  }

  .project__img {
    width: 20rem;
    height: 15rem;
  }

  .footer__input {
    display: none;
  }
  .footer__copy h4 {
    font-size: 0.8rem;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 365px) {
  .header .nav-container {
    padding: 1rem 2rem;
  }
  .header .signin {
    transform: translateX(2.4rem);
  }
  .header .greating {
    padding: 1rem;
  }

  .about,
.our-works,
.project,
.categories,
.footer {
    padding: 1rem;
  }

  .nav-icon {
    margin-left: 2rem;
  }

  .mobile-menu {
    justify-content: start;
    width: 50%;
  }
  .mobile-menu__link {
    font-size: 1.6rem;
  }
}
.about {
  padding: 8rem 4rem;
}
.about__title {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 4rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  color: #525252;
}
.about__paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 8rem 0;
  text-align: center;
  color: #525252;
}

.our-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-services .service-box__img {
  transition: all 0.3s;
  width: 10rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.our-services .service-box__img:hover {
  transform: scale(1.07);
}
.our-services .service-box__title {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  color: #525252;
  cursor: pointer;
}
.our-services .service-box__title:hover {
  text-decoration: underline;
}

.our-works {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/head.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8rem 4rem;
}
.our-works__title {
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 8rem;
  margin-top: 3rem;
  text-align: center;
  color: #e7e7e7;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 6rem;
}
.project__img {
  transition: all 0.3s;
  max-height: 20rem;
  max-width: 30rem;
  margin-right: 3rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.472);
}
.project__img:hover {
  transform: scale(1.05);
}
.project__img--2 {
  margin-left: 3rem;
}
.project__title {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  color: #e7e7e7;
}
.project__paragraph {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #e7e7e7;
  margin-bottom: 1.5rem;
  max-width: 80rem;
}
.project__btn {
  text-align: center;
}
.project__btn--hover:hover {
  background-color: #740000;
}
.project .rating {
  display: flex;
  align-items: center;
}
.project .rating__rate {
  color: #e7e7e7;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.project .rating__icon {
  width: 2rem;
  height: 2rem;
  fill: #fffb00;
}

.categories {
  padding: 8rem 4rem;
  text-align: center;
  background-color: #d4d4d4;
}
.categories__container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.categories__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
}
.categories__box::after {
  content: "+";
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 34rem;
  height: 24rem;
  background-color: rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 300;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.categories__box:hover::after {
  opacity: 100%;
  backdrop-filter: blur(3px);
}
.categories__title {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 8rem;
  cursor: pointer;
}
.categories__img {
  display: block;
  max-width: 35rem;
  max-height: 25rem;
  border-radius: 0.5rem;
  border: 5px solid white;
  margin-bottom: 1.3rem;
}
.categories__label {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 1.2rem;
  text-decoration: none;
  color: #525252;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.form {
  position: relative;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom right, rgba(61, 61, 61, 0.5), rgba(71, 36, 36, 0.5), rgba(167, 0, 0, 0.6));
  border-radius: 0.5rem;
  padding: 6rem;
  line-height: 5;
  min-width: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__title {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
.form__box {
  margin-bottom: 4rem;
}
.form__name {
  font-size: 1.9rem;
  font-weight: 600;
}
.form__name--input {
  padding: 0.5rem;
  width: 25rem;
  transform: translateX(4rem);
}
.form__password {
  font-size: 1.9rem;
  font-weight: 600;
}
.form__password--input {
  transform: translateX(0.4rem);
  padding: 0.5rem;
  width: 25rem;
}
.form__btn {
  border: none;
  filter: brightness(90%);
}
.form__btn--forgot {
  font-size: 1.4rem;
  margin-right: 3rem;
  color: white;
}
.form__btn--create {
  font-size: 1.4rem;
  color: white;
}

.xicon {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 2rem;
  height: 2rem;
  fill: white;
  transform: rotate(45deg);
  cursor: pointer;
}

.xmenu-icon {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 2rem;
  height: 2rem;
  fill: white;
  transform: rotate(45deg);
  cursor: pointer;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
