// COLORS
$color-primary: #a70000;
$color-ofwhite: rgb(231, 231, 231);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// FONT-STYLE
$font-xsmall: 1.2rem;
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 1.8rem;
$font-xlarge: 2rem;
$font-huge: 2.2rem;

// FONT-WEIGHT
$font-light: 300;
$font-bold: 400;
$font-bolder: 600;

// HEADING
$heading-xsmall: 2.2rem;
$heading-small: 2.4rem;
$heading-medium: 2.6rem;
$heading-large: 2.8rem;
$heading-xlarge: 4.5rem;
$heading-xxlarge: 5rem;
$heading-xxxlarge: 6rem;
$heading-huge: 7rem;
