.about {
  padding: 8rem 4rem;
  &__title {
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    color: rgb(82, 82, 82);
  }
  &__paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 8rem 0;
    text-align: center;
    color: rgb(82, 82, 82);
  }
}
.our-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .service-box {
    &__img {
      transition: all 0.3s;
      width: 10rem;
      margin-bottom: 2rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.07);
      }
    }
    &__title {
      font-size: $font-medium;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      color: rgb(82, 82, 82);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.our-works {
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/head.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 8rem 4rem;
  &__title {
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 8rem;
    margin-top: 3rem;
    text-align: center;
    color: $color-ofwhite;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
  }
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 6rem;
  &__img {
    transition: all 0.3s;
    height: 20rem;
    width: 30rem;
    margin-right: 3rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.472);
    &:hover {
      transform: scale(1.05);
    }
  }
  &__img--2 {
    margin-left: 3rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: $color-ofwhite;
  }
  &__paragraph {
    font-size: $font-medium;
    line-height: 1.8;
    color: $color-ofwhite;
    margin-bottom: 1.5rem;
    max-width: 80rem;
  }
  &__btn {
    text-align: center;
    &--hover {
      &:hover {
        background-color: darken($color-primary, 10%);
      }
    }
  }

  .rating {
    display: flex;
    align-items: center;
    &__rate {
      color: $color-ofwhite;
      font-size: $font-medium;
      margin-right: 1rem;
    }
    &__icon {
      width: 2rem;
      height: 2rem;
      fill: rgb(255, 251, 0);
    }
  }
}
.categories {
  padding: 8rem 4rem;
  text-align: center;
  background-color: rgb(212, 212, 212);
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__box {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
    &::after {
      content: "+";
      font-size: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 35rem;
      height: 22rem;
      background-color: rgba(0, 0, 0, 0.52);
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 300;
      opacity: 0;
      transition: all 0.5s;
      cursor: pointer;
    }
    &:hover::after {
      opacity: 100%;
      backdrop-filter: blur(3px);
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Bebas Neue", cursive;
    margin-bottom: 8rem;
    cursor: pointer;
  }

  &__img {
    width: 35rem;
    height: 22rem;
    border-radius: 0.5rem;
    outline: 5px solid $color-white;
    margin-bottom: 1.3rem;
  }

  &__label {
    font-size: $font-medium;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 1.2rem;
    text-decoration: none;
    color: rgb(82, 82, 82);
  }
}
.hidden {
  display: none;
}

@media (max-width: 900px) {
  .our-works {
    padding: 8rem 4rem;
    &__title {
      font-size: 4rem;
      text-transform: capitalize;
      margin-bottom: 8rem;
      margin-top: 3rem;
      text-align: center;
      color: $color-ofwhite;
      font-family: "Bebas Neue", cursive;
      font-weight: 400;
    }
  }
  .project {
    flex-direction: column;
    &__img {
      margin-bottom: 3rem;
      margin-left: 3rem;
    }
    &__img--2 {
      margin-left: 3rem;
    }
    &__paragraph {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .project--2 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .our-services {
    flex-wrap: wrap;
    .service-box {
      margin: 2rem;
    }
  }
}
